h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper.over {
  height: auto;
  overflow-y: auto;
}

div:active,
div:focus {
  outline: none !important;
  border: none !important;
}

.logot {
  position: fixed;
  width: calc(90px + 10vw);
  top: 1rem;
  left: 1rem;
  -webkit-transform: translateX(-15rem);
          transform: translateX(-15rem);
  z-index: 9999;
  mix-blend-mode: multiply;
}

.logot.active {
  -webkit-animation: logotAnim 1.15s cubic-bezier(0.005, 0.87, 0.385, 1) forwards;
          animation: logotAnim 1.15s cubic-bezier(0.005, 0.87, 0.385, 1) forwards;
}

.App-header {
  max-width: 100%;
  min-height: 100vh;
  color: #363a3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.App-header.about {
  background: url("../img/chain.jpg") 95% 102% no-repeat;
  background-size: 110%;
  padding-bottom: 2rem;
  display: block;
}

.mains,
nav {
  opacity: 0;
}

.mains.active,
nav.active {
  animation: mainsAnim 0.85s ease-out forwards;
  -webkit-animation: mainsAnim 0.85s ease-out forwards;
}

#nav {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
}

#nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav ul li {
  padding: 0.9rem 0;
}

#nav ul a {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.9rem;
}

#nav ul a:hover {
  color: #2cb4ad;
}

.main-back-sub {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: url("../img/block-sub.png") -1% 200% no-repeat;
  background-size: calc(150px + 40vw);
}

.main-back {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url("../img/block-b.png") 130% top no-repeat;
  background-size: calc(150px + 45vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-back h1,
.main-back h3 {
  font-weight: 600;
}

.main-back h1 {
  margin-top: -2.5rem;
}

.main-back h3 {
  font-weight: 300;
  color: #043cd8;
}

#logo-pc {
  display: block;
}

#symbol {
  display: none;
  width: 10vw;
  top: 0.5rem;
  left: 0.5rem;
}

@media (min-width: 1367px) {
  #logo-pc {
    display: block;
  }
  #symbol {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1366px) {
  .main-back {
    background: url("../img/block-b.png") 110% -35% no-repeat;
    background-size: calc(150px + 35vw);
  }
  .main-back-sub {
    background: url("../img/block-sub.png") 5% 175% no-repeat;
    background-size: calc(150px + 30vw);
  }
}

.main-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.main-slider h1 {
  font-size: 2.1rem;
}

.main-slider .carousel-initialized {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider .carousel-row {
  width: 100%;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .carousel-row div:active {
  outline: none;
  border: none;
}

.main-slider .carousel-dots {
  position: absolute;
  bottom: 10rem;
  z-index: 999;
}

.main-slider .carousel-dots button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-slider .carousel-dots button::before {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-slider .carousel-dots button:hover:before {
  color: #0c69f5;
}

.main-slider li.carousel-dots-active button {
  opacity: 1;
}

.main-slider li.carousel-dots-active button:before {
  color: #0c69f5 !important;
  opacity: 1;
}

.main-slider .carousel-arrow.carousel-next {
  right: 5rem;
}

.main-slider .carousel-arrow.carousel-next:before {
  background-image: url(../img/right-arrow.svg);
  width: 100px;
  height: 160px;
}

.main-slider .carousel-arrow.carousel-prev {
  left: 5rem;
}

.main-slider .carousel-arrow.carousel-prev:before {
  background-image: url(../img/left-arrow.svg);
  width: 100px;
  height: 160px;
}

@media (min-width: 900px) and (max-width: 1366px) {
  .main-slider .carousel-row {
    margin-top: 1rem;
  }
  .main-slider .carousel-dots {
    bottom: 5rem;
  }
  .main-slider .carousel-arrow.carousel-next {
    right: 3rem;
  }
  .main-slider .carousel-arrow.carousel-next:before {
    background-image: url(../img/right-arrow.svg);
    width: 30px;
    height: 80px;
    background-size: contain;
  }
  .main-slider .carousel-arrow.carousel-prev {
    left: 3rem;
  }
  .main-slider .carousel-arrow.carousel-prev:before {
    background-image: url(../img/left-arrow.svg);
    width: 30px;
    height: 80px;
    background-size: contain;
  }
}

@media (max-width: 576px) {
  .main-slider .carousel-row {
    margin-top: 1rem;
  }
  .main-slider .carousel-dots {
    bottom: 7rem;
  }
  .main-slider .carousel-arrow.carousel-next {
    display: none;
  }
  .main-slider .carousel-arrow.carousel-prev {
    display: none;
  }
}

@media (max-width: 576px) {
  .main-slider h1 {
    font-size: 1.7rem;
    padding: 0 2rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h3 {
    padding: 0 2rem;
    margin-top: 1rem;
  }
  .main-back {
    background: url("../img/block-b.png") 170% 0% no-repeat;
    background-size: calc(150px + 40vw);
  }
  .main-back-sub {
    background: url("../img/block-sub.png") -45% 100% no-repeat;
    background-size: calc(150px + 35vw);
  }
  #logo-pc {
    display: none;
  }
  #symbol {
    display: block;
  }
}

.logo-wrap.active {
  animation: headerAnim 1.05s cubic-bezier(1, 0, 0.995, 0.62) forwards;
  -webkit-animation: headerAnim 1.05s cubic-bezier(1, 0, 0.995, 0.62) forwards;
}

#logoLayer {
  width: 30vw;
  min-width: 350px;
  margin-top: -10vh;
  overflow: auto;
  animation: logoAnim 3s ease-out forwards;
  -webkit-animation: logoAnim 3s ease-out forwards;
}

.black {
  fill: #363a3f;
}

.blue {
  fill: #0c69f5;
}

.chain-black {
  stroke: #363a3f;
  stroke-dasharray: 237;
  stroke-dashoffset: 237;
  fill-opacity: 0;
  -webkit-transform-origin: 10% left;
          transform-origin: 10% left;
}

.chain-black.active {
  animation: chainAnimBlack 1.75s cubic-bezier(0.7, 0.375, 0.31, 0.99) forwards;
  -webkit-animation: chainAnimBlack 1.75s cubic-bezier(0.7, 0.375, 0.31, 0.99) forwards;
}

.chain-blue {
  stroke: #0c69f5;
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
  fill-opacity: 0;
  -webkit-transform-origin: 10% 110%;
          transform-origin: 10% 110%;
}

.chain-blue.active {
  animation: chainAnimBlue 1.75s cubic-bezier(0.7, 0.375, 0.31, 0.99) forwards;
  -webkit-animation: chainAnimBlue 1.75s cubic-bezier(0.7, 0.375, 0.31, 0.99) forwards;
}

.upper,
.lower {
  opacity: 0;
}

.upper.active {
  animation: upperAnim 0.65s ease-out forwards;
  -webkit-animation: upperAnim 0.65s ease-out forwards;
}

.lower.active {
  animation: lowerAnim 0.45s ease-out forwards;
  -webkit-animation: lowerAnim 0.45s ease-out forwards;
}

@-webkit-keyframes logotAnim {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes logotAnim {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes headerAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes headerAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: scale(1.5) translateY(3vh);
            transform: scale(1.5) translateY(3vh);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    margin-top: 0;
  }
}

@keyframes logoAnim {
  0% {
    -webkit-transform: scale(1.5) translateY(3vh);
            transform: scale(1.5) translateY(3vh);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    margin-top: 0;
  }
}

@-webkit-keyframes upperAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upperAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes lowerAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes lowerAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes chainAnimBlack {
  0% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw) translateY(0rem) rotate(-45deg);
            transform: translateX(10vw) translateY(0rem) rotate(-45deg);
  }
  45% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
}

@keyframes chainAnimBlack {
  0% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw) translateY(0rem) rotate(-45deg);
            transform: translateX(10vw) translateY(0rem) rotate(-45deg);
  }
  45% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes chainAnimBlue {
  0% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw) translateY(2.5rem) rotate(-95deg);
            transform: translateX(10vw) translateY(2.5rem) rotate(-95deg);
  }
  45% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
}

@keyframes chainAnimBlue {
  0% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw) translateY(2.5rem) rotate(-95deg);
            transform: translateX(10vw) translateY(2.5rem) rotate(-95deg);
  }
  45% {
    fill-opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes mainsAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainsAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */